USE [GFFDB]
GO
/****** Object:  UserDefinedTableType [dbo].[OrderDetail]    Script Date: 05-01-2026 11:21:42 ******/
CREATE TYPE [dbo].[OrderDetail] AS TABLE(
	[OrderNo] [varchar](max) NULL,
	[ProductId] [int] NULL,
	[Quantity] [int] NULL,
	[UserId] [int] NULL,
	[Status] [varchar](100) NULL,
	[PaymentId] [int] NULL,
	[OrderDate] [datetime] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[OrderDetails]    Script Date: 05-01-2026 11:21:42 ******/
CREATE TYPE [dbo].[OrderDetails] AS TABLE(
	[OrderNo] [varchar](max) NULL,
	[ProductId] [int] NULL,
	[Quantity] [int] NULL,
	[UserId] [int] NULL,
	[Status] [varchar](1) NULL,
	[PaymentId] [int] NULL,
	[OrderDate] [datetime] NULL
)
GO
/****** Object:  Table [dbo].[Carts]    Script Date: 05-01-2026 11:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carts](
	[CartId] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NULL,
	[Quantity] [int] NULL,
	[UserId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CartId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 05-01-2026 11:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[ImageUrl] [varchar](max) NULL,
	[IsActive] [bit] NULL,
	[CreateDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contact]    Script Date: 05-01-2026 11:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contact](
	[ContactId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[Subject] [varchar](200) NULL,
	[Message] [varchar](max) NULL,
	[CreateDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ContactId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 05-01-2026 11:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderDetailsId] [int] IDENTITY(1,1) NOT NULL,
	[OrderNo] [varchar](max) NULL,
	[ProductId] [int] NULL,
	[Quantity] [int] NULL,
	[UserId] [int] NULL,
	[Status] [varchar](100) NULL,
	[PaymentId] [int] NULL,
	[OrderDate] [datetime] NULL,
 CONSTRAINT [PK__Orders__9DD74DBDCFA38E01] PRIMARY KEY CLUSTERED 
(
	[OrderDetailsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 05-01-2026 11:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[PaymentId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[CardNo] [varchar](50) NULL,
	[ExpiryDate] [varchar](50) NULL,
	[CvvNo] [int] NULL,
	[Address] [varchar](max) NULL,
	[PaymentMode] [varchar](10) NULL,
 CONSTRAINT [PK__Payment__9B556A380968730A] PRIMARY KEY CLUSTERED 
(
	[PaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 05-01-2026 11:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Description] [varchar](max) NULL,
	[Price] [decimal](18, 2) NULL,
	[Quantity] [int] NULL,
	[imageUrl] [varchar](max) NULL,
	[CategoryId] [int] NULL,
	[IsActive] [bit] NULL,
	[CreateDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 05-01-2026 11:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Username] [varchar](50) NULL,
	[Mobile] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[Address] [varchar](max) NULL,
	[PostCode] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
	[ImageUrl] [varchar](max) NULL,
	[CreateData] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Carts]  WITH CHECK ADD  CONSTRAINT [FK_Carts_Product1] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([ProductId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Carts] CHECK CONSTRAINT [FK_Carts_Product1]
GO
ALTER TABLE [dbo].[Carts]  WITH CHECK ADD  CONSTRAINT [FK_Carts_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Carts] CHECK CONSTRAINT [FK_Carts_Users]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Payment] FOREIGN KEY([PaymentId])
REFERENCES [dbo].[Payment] ([PaymentId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Payment]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([ProductId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Product]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Users]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_categories] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[categories] ([CategoryId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_categories]
GO
/****** Object:  StoredProcedure [dbo].[Cart_Crud]    Script Date: 05-01-2026 11:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	CREATE PROCEDURE [dbo].[Cart_Crud]
	@Action VARCHAR(10),
	@ProductId INT = NULL,
	@Quantity INT = NULL,
	@UserId INT = NULL

	AS
	BEGIN
		SET NOCOUNT ON;

	--SELECT
	IF @Action ='SELECT'
		BEGIN
			SELECT c.ProductId,p.Name,p.imageUrl,p.Price,c.Quantity,c.Quantity  AS Qty,p.Quantity AS PrdQty
			FROM dbo.Carts c
			INNER JOIN dbo.Product p ON p.ProductId = c.ProductId
			WHERE C.UserId=@UserId
		END
	--INSERT
	IF @Action ='INSERT'
		BEGIN
		INSERT INTO dbo.Carts(ProductId,Quantity,UserId)
		VALUES(@ProductId,@Quantity,@UserId)
		END
	--UPDATE
	IF @Action ='UPDATE'
		BEGIN
		UPDATE dbo.Carts 
		SET Quantity = @Quantity
		WHERE ProductId = @ProductId AND UserId = @UserId
		END
	--DELETE
	IF @Action ='DELETE'
		BEGIN
		DELETE FROM dbo.Carts 
		WHERE ProductId = @ProductId AND UserId = @UserId
		END

	--GET BY ID (PRODUCTID & USERID)
	IF @Action ='GETBYID'
		BEGIN
		SELECT * FROM dbo.Carts
		WHERE ProductId =@ProductId AND UserId = @UserId
		END

		END
GO
/****** Object:  StoredProcedure [dbo].[Category_curd]    Script Date: 05-01-2026 11:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Category_curd]
-- Add the parameters for the stored procedure here
@Action VARCHAR (10),
@CategoryId INT = NULL,
@Name VARCHAR(100) = NULL,
@IsActive BIT = False,
@ImageUrl VARCHAR(max) = NULL 
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- SELECT 
	IF @Action = 'SELECT'
	BEGIN
		SELECT * FROM dbo.categories ORDER BY CreateDate DESC
		END

		 -- ACTIVE CATEGORY 
	IF @Action = 'ACTIVECAT'
	BEGIN
		SELECT * FROM dbo.categories WHERE IsActive=1
		END

		-- INSERT
		IF @Action = 'INSERT'
		BEGIN 
		INSERT INTO dbo.categories(Name,ImageUrl,IsActive,CreateDate)
		VALUES(@Name,@ImageUrl,@IsActive,GETDATE())
		END
		--UPDATE
		IF @Action ='UPDATE'
		BEGIN
		DECLARE @UPDATE_IMAGE VARCHAR(20)
		SELECT @UPDATE_IMAGE = (CASE WHEN @ImageUrl IS NULL THEN 'NO' ELSE 'YES' END)
		IF @UPDATE_IMAGE ='NO'
		BEGIN
		UPDATE dbo.categories
		SET Name =@Name,IsActive=@IsActive
		WHERE CategoryId =@CategoryId
		END
		ELSE
		BEGIN
		UPDATE dbo.categories
		SET Name = @Name,ImageUrl = @ImageUrl, IsActive=@IsActive
		WHERE CategoryId = @CategoryId
		END
		END
		-- DELETE
		IF @Action ='DELETE'
		BEGIN
		DELETE FROM dbo.categories WHERE CategoryId= @CategoryId
		END

		
		--GETBYID
		IF @Action ='GETBYID'
		BEGIN
		SELECT * FROM dbo.categories WHERE CategoryId=@CategoryId
		END
		END
GO
/****** Object:  StoredProcedure [dbo].[ContactSp]    Script Date: 05-01-2026 11:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[ContactSp]
 -- Add the parameters for the stored procedure here
 @Action VARCHAR(10),
 @ContactId INT = NULL,
 @Name VARCHAR(50) = NULL,
 @Email VARCHAR(50) = NULL,
 @Subject VARCHAR(200) = NULL,
 @Message VARCHAR(MAX) = NULL
AS
BEGIN
 -- SET NOCOUNT ON added to prevent extra result sets from
 -- interfering with SELECT statements.
 SET NOCOUNT ON;

    --INSERT
 IF @Action = 'INSERT'
      BEGIN
            INSERT INTO dbo.Contact(Name, Email, Subject, Message, CreateDate)
            VALUES (@Name, @Email, @Subject, @Message, GETDATE())
      END

 --SELECT
    IF @Action = 'SELECT'
      BEGIN
            SELECT ROW_NUMBER() OVER(ORDER BY (SELECT 1)) AS [SrNo],* FROM dbo.Contact
      END

 --DELETE BY ADMIN
    IF @Action = 'DELETE'
      BEGIN
            DELETE FROM dbo.Contact WHERE ContactId = @ContactId
      END

END
GO
/****** Object:  StoredProcedure [dbo].[Dashboard]    Script Date: 05-01-2026 11:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Dashboard]
 -- Add the parameters for the stored procedure here
 @Action VARCHAR(20) = NULL
AS
BEGIN
 -- SET NOCOUNT ON added to prevent extra result sets from
 -- interfering with SELECT statements.
 SET NOCOUNT ON;

    --1.Categories
 IF @Action = 'CATEGORY'
 BEGIN
  SELECT COUNT(*) FROM dbo.Categories
 END

 --2.Products
 IF @Action = 'PRODUCT'
 BEGIN
  SELECT COUNT(*) FROM dbo.Product
 END

 --3.Orders
 IF @Action = 'ORDER'
 BEGIN
  SELECT COUNT(*) FROM dbo.Orders
 END

 --4.Orders Delivered
 IF @Action = 'DELIVERED'
 BEGIN
  SELECT COUNT(*) FROM dbo.Orders 
  WHERE Status = 'Delivered'
 END

 --5.Orders Pending
 IF @Action = 'PENDING'
 BEGIN
  SELECT COUNT(*) FROM dbo.Orders 
  WHERE Status IN ('Pending','Dispatched')
 END

 --6.Users
 IF @Action = 'USER'
 BEGIN
  SELECT COUNT(*) FROM dbo.Users
 END

 --Sold Item Cost
 IF @Action = 'SOLDAMOUNT'
 BEGIN
  SELECT SUM(o.Quantity * p.Price) FROM Orders o
  INNER JOIN Product p ON p.ProductId = o.ProductId
 END

 --Contact
 IF @Action = 'CONTACT'
 BEGIN
  SELECT COUNT(*) FROM dbo.Contact
 END

END
GO
/****** Object:  StoredProcedure [dbo].[Invoice]    Script Date: 05-01-2026 11:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Invoice]
	@Action VARCHAR(50),
	@PaymentId INT = null,
	@UserId INT = null,
	@OrderDetailsId int = null,
	@Status varchar(100) = null

AS 
BEGIN
	SET NOCOUNT ON;

	-- GET INVOICE BY ID
		IF @Action = 'INVOICEBYID'
			BEGIN
					SELECT ROW_NUMBER() OVER(ORDER BY (SELECT 1)) AS [SrNo], o.OrderNo, p.Name, p.Price, o.Quantity, 
					(p.Price * o.Quantity) as TotalPrice, o.OrderDate, o.Status FROM Orders o
					INNER JOIN Product p ON p.ProductId = o.ProductId
					WHERE o.PaymentId = @PaymentId AND o.UserId = @UserId
				END	
	--SELECT ORDER HISTORY
		IF @Action = 'ODRHISTORY'
		BEGIN
			SELECT DISTINCT o.PaymentId,p.PaymentMode, p.CardNo FROM Orders o
			INNER JOIN Payment p on p.PaymentId = o.PaymentId
			WHERE o.UserId = @UserId
		END

		-- GET ORDER BY STATUS
		IF @Action = 'GETSTATUS'
		BEGIN
			SELECT o.OrderDetailsId, o.OrderNo,(pr.Price * o.Quantity) as TotalPrice, o.Status,
			o.OrderDate, p.PaymentMode, pr.Name FROM Orders o
			INNER JOIN Payment p on p.PaymentId = o.PaymentId
			INNER JOIN Product pr ON pr.ProductId = o.ProductId
		END

		--GET ORDER STATUS BY ID
		IF @Action ='STATUSBYID'
		BEGIN
			SELECT OrderDetailsId, Status FROM Orders
			WHERE OrderDetailsId = @OrderDetailsId
		END

		-- UPDATE ORDER STATUS
		IF @Action ='UPDTSTATUS'
		BEGIN
			UPDATE dbo.Orders
			SET Status = @Status WHERE OrderDetailsId = @OrderDetailsId
		END
END
GO
/****** Object:  StoredProcedure [dbo].[Product_curd]    Script Date: 05-01-2026 11:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Product_curd]
@Action VARCHAR(10),
@ProductId int = null,
@Name VARCHAR (200) = null,
@Description VARCHAR(MAX) =null,
@Price DECIMAL(18,2) =0,
@Quantity int=null,
@ImageUrl VARCHAR(MAX) =null,
@CategoryId int = null,
@IsActive BIT = false

As
BEGIN

	SET NOCOUNT ON;
	--sELECT
	IF @Action ='SELECT'
		BEGIN
			SELECT p.*,c.Name As CategoryName FROM dbo.Product p
			INNER JOIN dbo.categories c ON c.CategoryId=p.CategoryId 
			WHERE p.IsActive=1

			END

			--sELECT
	IF @Action ='ACTIVEPROD'
		BEGIN
			SELECT p.*,c.Name As CategoryName FROM dbo.Product p
			INNER JOIN dbo.categories c ON c.CategoryId=p.CategoryId ORDER BY P.CreateDate DESC

			END

			-- INSERT
			IF @Action = 'INSERT'
				BEGIN
					INSERT INTO dbo.Product(Name,Description,Price,Quantity,ImageUrl,CategoryId,IsActive,CreateDate)
					VALUES (@Name,@Description,@Price,@Quantity,@ImageUrl,@CategoryId,@IsActive, GETDATE())
					END

					--UPDATE
					IF @Action = 'UPDATE'
						BEGIN
							DECLARE @UPDATE_IMAGE VARCHAR(20)
							SELECT @UPDATE_IMAGE = (CASE WHEN @ImageUrl IS NULL THEN 'NO' ELSE 'YES' END)
							IF @UPDATE_IMAGE='NO'
								BEGIN
									UPDATE dbo.Product
									SET NAME = @Name, Description= @Description, Price = @Price, Quantity = @Quantity,  
									CategoryId = @CategoryId, IsActive= @IsActive
									WHERE ProductId = @ProductId

									END
									else
									begin
										UPDATE dbo.Product
										SET NAME = @Name, Description= @Description, Price = @Price, Quantity = @Quantity,  ImageUrl = @ImageUrl,
									CategoryId = @CategoryId, IsActive= @IsActive
									WHERE ProductId = @ProductId
									END
									end
									
									--UPDATE QUANTITY
									IF @Action = 'QTYUPDATE'
									BEGIN
									UPDATE dbo.Product SET Quantity = @Quantity
									WHERE ProductId= @ProductId
									END

									--DELETE
									IF @Action ='DELETE'
									BEGIN
									DELETE FROM dbo.Product where ProductId= @ProductId
									end

									--GETBYID
									 IF @Action ='GETBYID'
									 BEGIN
									 SELECT * FROM dbo.Product WHERE ProductId= @ProductId
									 END
									 END
GO
/****** Object:  StoredProcedure [dbo].[Save_Orders]    Script Date: 05-01-2026 11:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Save_Orders] @tblOrders OrderDetail readonly
AS
BEGIN
	SET NOCOUNT ON;

	INSERT INTO Orders(OrderNo, ProductId, Quantity, UserId, Status, PaymentId, OrderDate)
	SELECT OrderNo, ProductId, Quantity, UserId, Status, PaymentId, OrderDate FROM @tblOrders

END
GO
/****** Object:  StoredProcedure [dbo].[Save_Payment]    Script Date: 05-01-2026 11:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Save_Payment]
	@Name VARCHAR(100) = NULL,
	@CardNo VARCHAR(50) = NULL,
	@ExpiryDate VARCHAR(50) = NULL,
	@Cvv INT = NULL,
	@Address VARCHAR(MAX) = NULL,
	@PaymentMode VARCHAR(10) = 'card',
	@InsertedId int OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

	--INSERT 
	BEGIN
			INSERT INTO dbo.Payment(Name, CardNo, ExpiryDate, CvvNo, Address, PaymentMode)
			VALUES(@Name, @CardNo, @ExpiryDate, @Cvv, @Address, @PaymentMode)

			SELECT @InsertedId = SCOPE_IDENTITY();
		END
	END
GO
/****** Object:  StoredProcedure [dbo].[SellingReport]    Script Date: 05-01-2026 11:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SellingReport]
 -- Add the parameters for the stored procedure here
 @FromDate DATE = NULL,
 @ToDate DATE = NULL
AS
BEGIN
 -- SET NOCOUNT ON added to prevent extra result sets from
 -- interfering with SELECT statements.
 SET NOCOUNT ON;
 Print @FromDate
 Print @ToDate

 SELECT ROW_NUMBER() OVER(ORDER BY (SELECT 1)) AS [SrNo],u.Name,u.Email,
  SUM(o.Quantity) AS TotalOrders, SUM(o.Quantity * p.Price) AS TotalPrice 
  FROM Orders o
  INNER JOIN Product p ON p.ProductId = o.ProductId
  INNER JOIN Users u ON u.UserId = o.UserId
  WHERE CAST(o.OrderDate AS DATE) BETWEEN @FromDate AND @ToDate
  GROUP BY u.Name, u.Email;

 
 
END
GO
/****** Object:  StoredProcedure [dbo].[User_Crud]    Script Date: 05-01-2026 11:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[User_Crud]
	@Action VARCHAR(20),
	@UserId INT = NULL,
	@Name VARCHAR(100) = null,
	@Username VARCHAR(100)=null,
	@Mobile VARCHAR(50)=null,
	@Email VARCHAR(100)=null,
	@Address VARCHAR(max)=null,
	@PostCode VARCHAR(50)=null,
	@Password VARCHAR(50)=NULL,
	@ImageUrl VARCHAR(max)=null

AS
BEGIN
	SET NOCOUNT ON;

	--SELECT FOR LOGIN
	IF @Action = 'SELECT4LOGIN'
		BEGIN
		SELECT * FROM dbo.Users WHERE Username =@Username and Password =@Password
		END

		--SELECT FOR USER PROFILE
		IF @Action ='SELECT4PROFILE'
		BEGIN
			SELECT * FROM dbo.Users WHERE UserId=@UserId
		END
		
		--INSERT(REGISTRATION)
		IF @Action ='INSERT'
		BEGIN
		Insert into dbo.Users(Name,Username,Mobile,Email,Address,PostCode,Password,ImageUrl,CreateData)
		values(@Name,@Username,@Mobile,@Email,@Address,@PostCode,@Password,@ImageUrl,GETDATE())
		END

		--UPDATE USER PROFILE
		IF @Action = 'UPDATE'
		BEGIN
			DECLARE @UPDATE_IMAGE VARCHAR(20)
			SELECT @UPDATE_IMAGE=(CASE WHEN @ImageUrl IS NULL THEN 'NO' ELSE 'YES' END)
			IF @UPDATE_IMAGE='NO'
				BEGIN
				UPDATE dbo.Users
				SET Name=@Name,Username=@Username,Mobile=@Mobile,Email=@Email,Address=@Address,
				PostCode=@PostCode,ImageUrl=@ImageUrl
				WHERE UserId=@UserId
END
				ELSE
				BEGIN
				UPDATE dbo.Users
				SET Name = @Name, Username = @Username, Mobile =@Mobile, Email=@Email, 
				Address=@Address, PostCode=@PostCode, ImageUrl=@ImageUrl
				where UserId=@UserId
				END


					
				END

				-- SELECT FOR ADMIN
				IF @Action ='SELECT4ADMIN'
					BEGIN
					SELECT ROW_NUMBER() OVER(ORDER BY(SELECT 1)) AS [SrNo],UserId,Name,
					Username,Email,CreateData
					FROM Users

					END

					--DELETE BY ADMIN
					IF @Action='DELETE'
						BEGIN
							DELETE FROM dbo.Users WHERE UserId=@UserId
							
						END
					END
GO
